 .formItem{
  height: 40px;
  display: flex;
  flex-direction: column;
  margin-bottom:5px;
  text-align: center;  
  align-items: center;
  width: 100%;
  position: relative;
}
 .formItem label{
  position:absolute;
  bottom: 6px;
  left: 22%;
  color: rgb(143, 140, 140);
  font-size: 14px;
  /* transition: all 0.2s linear; */
  
}
.formItem.active label{
  position:absolute;
  font-size: 12px;
  left: 22%;
  top:2px;
  transition: all 0.2s linear;
  color: burlywood;
  font-weight: bold;
}
.formItem.active input{
  border-color: burlywood;
}


 .formItem input{
  margin-top: auto;
  border: none;
  border-bottom: 1px solid #ddd;
  z-index: 1;
  background-color: transparent;
  font-size: 12px;
  position: relative;
  width: 60%;
}


 .formItem input:focus{
  outline: none;
}

