 .formItem{
  height: 40px;
  display: flex;
  flex-direction: column;
  margin-bottom:5px;
  text-align: center;  
  align-items: center;
  width: 100%;
  position: relative;
}
 .formItem label{
  position:absolute;
  font-size: 12px;
  left: 22%;
  top:2px;
  transition: all 0.2s linear;
  color: burlywood;
  font-weight: bold;
}

 .formItem input{
  margin-top: auto;
  border: none;
  border-bottom: 1px solid #ddd;
  background-color: transparent;
  font-size: 12px;
  width: 60%;
}


 .formItem input:focus{
  outline: none;
}

