 *{
   box-sizing: border-box;
 }
.App{
  background:url(http://pdoyygimo.bkt.clouddn.com/evelyn-bertrand-334966-unsplash-min-min%20%281%29.jpg) no-repeat  ;
  background-size: cover;
  min-height: 100vh;
  display:flex;
  flex-direction: column;
  position: relative;
}
.App .userDialogWrapper{
  position: absolute;
  width: 100%;
  height:100%;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
  display:flex;
  justify-content:center;
  align-items:center;
}

.App-title {
  font-size: 1.5em;
}

.App .App-header .userInfo{
  position: absolute;
  right: 16px;
  font-size: 12px;
  color: antiquewhite;
}



.App main{
  flex:1;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:center;
  padding:16px;
  background: rgba(34,34,34,0.7);
  box-shadow: 2px 2px 5px #333333;
  width: 60%;
  min-width: 400px;
  margin: 0 auto;
}
.App main .todoList{
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: flex-start;
  width:100%;
  height:100%;
  padding: 15px 25px;
  color: aliceblue;
}
.App main .todoList ol.itemlist{
  width: 100%;
}
.App main .todoList ol.itemlist li{
  width: 100%;
  margin: 10px 0;
  border:1px solid green
}





.App main .todoList ol.navbar {
  display:flex;
  justify-content: space-around;
  margin: 16px 0;
}

.App main .todoList ol.navbar li{
  margin:0 6px;
  border:1px solid #ddd;
  padding:  8px 1em ;
  font-size: 12px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 2px 2px 5px #383838;
}



.App main .todoList .completed{
  text-decoration: line-through;
  color: grey;
}
.App main .todoList .deleted{
color: grey
}
.App main .todoList .deleted input{
  display: none;
}
